# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\79017\Work\MIPT\2-semester\ded-seminars\alpha-blending\.idea/dataSources/
/dataSources.local.xml
